.nav nav-tabs {
    position: sticky;
    background-color: aliceblue;
    width: 100%;
    max-width:110%; 
    flex: 1 1 auto;
}

.nav-item{
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1em;
    margin: 0px;
}

body{
    background-color:white;
    background-image: url();
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center ;
}

.form{
    background-color: aliceblue;
    margin:auto;
    width: 90%;
    max-width:400px; 
    padding: 4em 2em;
} 

