.nav nav-tabs {
    position: sticky;
    background-color: aliceblue;
    width: 100%;
    max-width:110%; 
    flex: 1 1 auto;
}

.nav-item{
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1em;
    margin: 0px;
}

body{
    background-color:white;
    background-image: url(FondoMadera.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center ;
}

.container{
    background-color:white;
    padding: 3em 3em;
    position:relative;
}

#texto1 {
    color: black;
    font-size: 45px;
    font-weight: lighter;
    margin: auto;
    padding: 1.5em 2em;
    text-align: center;
}

.list-group{
    color:black;
    font-size: 25px;
    font-weight:lighter;
    margin: auto;
    padding: 1em 2em;
    max-width:fit-content;
}